.App {
  text-align: center;
  display: flex;
  height: 95vh;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
}
.join h3 {
  font-size: 2rem;
}

.join input {
  margin: 10px;
  padding: 10px;
  width: 200px;
  border: none;
  background-color: rgba(219, 219, 219, 0.452);
  border-radius: 5px;
}
.join input[type="text"]:focus {
  outline: 1px solid green;
}
.join button {
  padding: 10px 20px;
  margin-top: 5px;
  border: none;
  background-color: rgba(78, 253, 78, 0.842);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

.join button:hover {
  background-color: grey;
  color: #fff;
  transition: 0.3s ease;
}
